body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #dbeafe;
}

#map {
    height: 240px;
    width: 400px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px 2px black;
}

.master-container {
    background: #3b82f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.currentTempContainer {
    margin: 15px 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
}

#weatherIcon {
    height: 105px;
    width: 105px;
}

#city {
    color: white;
    word-spacing: 5px;
    letter-spacing: 4px;
}

#region {
    font-size: 0.8em;
    color: white;
    word-spacing: 5px;
    letter-spacing: 4px;
    font-weight: 300;
}

#country {
    color: white;
    word-spacing: 5px;
    letter-spacing: 4px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cityInfo {
    display: flex;
    align-items: center;
    font-size: 1.3em;
    text-align: center;
    flex-direction: column;
}

.cityInfo * {
    margin: 0;
    padding: 5px;
}

.weatherInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 300;
}

input {
    height: 50px;
    font-size: 1.8em;
    border: 1px solid black;
    border-radius: 10px;
    width: 288px;
    padding: 5px;
    text-align: center;
}

button {
    margin-top: 5px;
    height: 60px;
    font-size: 1.3em;
    width: 300px;
    cursor: pointer;
    border: 2px solid #1d4ed8;
    border-radius: 10px;
    background-color: #bae6fd;
    box-shadow: 0px 1px 2px black;
    color: #000000;
}

button:hover{
    background-color: rgb(228, 240, 255);
    box-shadow: 0px 2px 3px 1px black;
}

button:active {
    background-color: #bae6fd;
    box-shadow: inset 0px 2px 4px 1px black;
}

.hidden {
    display: none !important;
}

.switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 40px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.tempSlider {
    user-select: none;
    font-size: 2.4em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(120, 201, 255);
    -webkit-transition: .4s;
    transition: .4s;
}

.tempSlider:before {
    position: absolute;
    content: "";
    height: 32px;
    width: 32px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .tempSlider {
    background-color: rgb(255, 120, 120);
}

input:focus + .tempSlider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .tempSlider:before {
    -webkit-transform: translateX(40px);
    -ms-transform: translateX(40px);
    transform: translateX(40px);
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.cardHeader {
    color: white;
    text-shadow: 0px 1px 5px black;
    width: 100%;
    text-align: center;
    background: #1e40af;
    height: 40px;
    margin: 05px;
    padding: 5px 0;
}

.card {
    width: 280px;
    height: 380px;
    background-color: #2196F3;
    display: grid;
    grid-template: 1fr 2fr 1fr 2fr 1fr / 1fr 1fr;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0px 4px 9px 3px black;
}


.footer {
    margin-top: 5px;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    align-items: center;
    column-gap: 20px;
}

.footer p {
    text-align: end;
}

.cardDate {
    grid-area: 1 / 1 / 2 / 3;
    font-size: 1.7em;
    margin: 5px 0;
    align-self: center;
    justify-self: center;
    color: white;
    letter-spacing: 2px;
    text-shadow: 0px 1px 5px black;
}

.cardTempMax {
    grid-area: 2 / 2 / 3 / 3;
    font-size: 2.2em;
    width: 100%;
    height: 100%;
    border-top: 2px solid black;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    color: white;
    text-shadow: 0px 1px 5px black;
}

.cardTempMin {
    margin: 0;
    grid-area: 3 / 2 / 4 / 3;
    align-self: center;
    font-size: 1.2em;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid black;
    height: 100%;
    padding-bottom: 5px;
    color: white;
    text-shadow: 0px 1px 5px black;
}

.cardIcon {
    grid-area: 2 / 1 / 3 / 2;
    height: 100%;
    align-self: center;
    justify-self: center;
    border: 2px solid black;
    border-bottom: none;
    width: 100%;
}

.weatherCondition {
    width: 100%;
    height: 100%;
    padding-bottom: 5px;
    margin: 0;
    grid-area: 3 / 1 / 4 / 2;
    align-self: center;
    text-align: center;
    font-size: 1.4em;
    font-family: "Ropa Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    color: white;
    text-shadow: 0px 1px 5px black;
}

.sunriseIcon {
    grid-area: 4 / 1 / 5 / 3;
    width: 100%;
    margin-top: 12px;
}

.sunrise {
    grid-area: 5 / 1 / 6 / 2;
    margin: 0 0 0 12px;
    justify-self: flex-start;
    text-align: center;
    padding-bottom: 5px;
    color: white;
    text-shadow: 0px 1px 5px black;
}

.sunset {
    grid-area: 5 / 2 / 6 / 3;
    margin: 0 12px 0 0;
    justify-self: flex-end;
    text-align: center;
    padding-bottom: 5px;
    color: white;
    text-shadow: 0px 1px 5px black;
}

.feelsLike {
    font-size: 1.6em;
    margin-top: 0;
}

.currentTemp {
    font-size: 1.8em;
    margin-top: 2px;
}